.bodyContainer
{
  position: relative;
  background-color: whitesmoke;
  background-image: url('../src/assets/laptop.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('../src/assets/laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 1em;
}